#contact-form{
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}
.form-group{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea{
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 1rem;
    background: #2E282A;
    border-left: 3px solid #2E282A;
    color: #E4572E;
    width: 100%;
    transition: all 250ms;
}
textarea{
    resize: vertical;
}
.form-group input:focus, .form-group textarea:focus {
    border-left: 4px solid #E4572E;
}
fieldset{
    border-radius: 10px;
    border: 1px solid #2E282A;
}
legend{
    padding: 0.5rem;
    text-align: left;
    color: #2E282A;
    font-weight: bold;
}
#contact-form button{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background: #E4572E;
    color: #2E282A;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #2E282A;
    transition: all 500ms;
    text-align: center;
    /* display: inline-block; */
    margin-top: 0.2rem;
    width: 50%;
    justify-self: flex-end !important;
}
#contact-form button:hover{
    cursor: pointer;
}
#contact-form button:active{
    cursor: pointer;
    background: #139A43;
    color: #2E282A;
}

/* credits */
.credits{
    padding: 1rem;
    width: 83%;
    margin: 0 auto;
}
.credits h3{
    background: #2E282A;
    padding: 1rem;
    border-radius: 10px;
    color: #E4572E;
}
.credits p {
    padding-left: 0.5rem;
}