@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
    box-sizing: border-box;
}
*::selection{
    background: $orange;
    color: $white;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: $white;
    transition: all 500ms;
}
a {
    text-decoration: none;
}

main{
    position: relative;
}